h2 {
    font-family: 'Arial', sans-serif; /* Cambia la fuente según tus preferencias */
    color: #333; /* Color del texto */
    text-align: center; /* Alineación del texto al centro */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-bottom: 20px; /* Margen inferior para separar del contenido siguiente */
  }

.l-card{
text-align: center;
vertical-align: middle;
}