/* Estilos para el contenedor principal */
/*div {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el título */
  /*h1 {
    color: #333;
  }
  
  /* Estilos para la lista de publicaciones */
  /*ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #c82333;
  }
  
  /* Estilos para el campo de entrada y botón de eliminación */
  /*label {
    display: inline-block;
    margin-right: 10px;
  }
  
  input[type="text"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para el botón de eliminación individual */
  /*button#eliminar-publicacion {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button#eliminar-publicacion:hover {
    background-color: #c82333;
  }
  