
/* Estilos para el botón de eliminar por ID */
div label {
  font-weight: bold; /* Texto en negrita para la etiqueta del ID */
}

div input {
  margin-right: 10px; /* Espaciado derecho del campo de entrada */
}

div button {
  background-color: #000; /* Color de fondo del botón de eliminar por ID */
  color: #fff; /* Color del texto del botón de eliminar por ID */
  
  padding: 5px 10px; /* Espaciado interno del botón de eliminar por ID */
  
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón de eliminar por ID */
  transition: background-color 0.3s ease; /* Transición de color de fondo */

  /* Estilos adicionales si es necesario */
  font-size: 14px; /* Tamaño de fuente del botón de eliminar por ID */
}

div button:hover {
  color: yellow; /* Color de fondo al pasar sobre el botón de eliminar por ID */
}



/*Todos los div del add, delete y edit, se manejan por este div que esta abajo*/
div {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
}



