/* Estilos para el botón de eliminar en la lista de publicaciones */
ul li button {
  background-color: blue; /* Color de fondo del botón de eliminar */
  color: #fff; /* Color del texto del botón de eliminar */
  border: none; /* Elimina el borde del botón de eliminar */
  padding: 5px 10px; /* Espaciado interno del botón de eliminar */
  border-radius: 5px; /* Borde redondeado del botón de eliminar */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón de eliminar */
  transition: background-color 0.3s ease; /* Transición de color de fondo */

  /* Estilos adicionales si es necesario */
  font-size: 14px; /* Tamaño de fuente del botón de eliminar */
  margin-left: 10px; /* Espaciado izquierdo del botón de eliminar */
}

ul li button:hover {
  background-color: blue; /* Color de fondo al pasar sobre el botón de eliminar */
}

/* Estilos para el botón de eliminar por ID */
div label {
  font-weight: bold; /* Texto en negrita para la etiqueta del ID */
}

div input {
  margin-right: 10px; /* Espaciado derecho del campo de entrada */
}

div button {
  background-color: blue; /* Color de fondo del botón de eliminar por ID */
  color: #fff; /* Color del texto del botón de eliminar por ID */
  border: none; /* Elimina el borde del botón de eliminar por ID */
  padding: 5px 10px; /* Espaciado interno del botón de eliminar por ID */
  border-radius: 5px; /* Borde redondeado del botón de eliminar por ID */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón de eliminar por ID */
  transition: background-color 0.3s ease; /* Transición de color de fondo */

  /* Estilos adicionales si es necesario */
  font-size: 14px; /* Tamaño de fuente del botón de eliminar por ID */
}

div button:hover {
  background-color:blue; /* Color de fondo al pasar sobre el botón de eliminar por ID */
}
