/* Estilos para el contenedor principal */
div {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el título */
  h1 {
    color: #333;
  }
  
  /* Estilos para la lista de publicaciones */
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilos para el botón Editar */
  button#editar-publicacion {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
  }
  
  button#editar-publicacion:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para el campo de entrada de edición */
  input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para el botón Guardar */
  button#guardar-publicacion {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button#guardar-publicacion:hover {
    background-color: #1f8d42;
  }
  