header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    opacity: 1;
     z-index: 5;   
    background-color: #E1E1E1;
    color: #000000;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem 1rem;
   
}
header{
    height: 5rem;
   }

 a {
    color: #000000;
    align-items: center;
    justify-content: center;
}


a{
    color: #000000;
    align-items: center;
    justify-content: center;
}

/*formato al link de Registro*/
.link-r{
    background-color: yellow;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
/*formato al link de Login*/
  .link-l{
    background-color: yellow;
    border-color: 0.1 0.1 black;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  /* formato de los links*/
a{
    color:#000;
    text-decoration: none;
    padding: 0.5rem;
    display: flex;
  }
  ul li{
    display:inline-flex; /*hace que se pongan los elementos de la lista en línea*/
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 0.5rem;
  }
 

  /* Estilo base para los enlaces */
.link-r,
.link-l {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Estilo para cuando el cursor pasa sobre los enlaces */
.link-r:hover,
.link-l:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.1);
}

/* Estilo para los enlaces activos (por ejemplo, cuando la página actual es "/register" o "/login") */
.link-r.active,
.link-l.active {
  background-color: #333;
  color: #fff;
  transform: scale(1.1);
}

/* Estilo para la lista y elementos de lista */
.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.list-link {
  margin-right: 20px;
}



/* Estilos para el contenedor de la imagen */
.logo-img {
  text-align: center;
  margin-top: 20px;
}

/* Estilos para la imagen */
.logo-img img {
  width: 200px; /* Ajusta el ancho según tus preferencias */
  height: auto;
  border-radius: 50%; /* Para una forma de círculo si lo deseas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}


/* Estilos para el logo */
.logo-nombre {
  font-family: 'cursive'; /* Cambia la fuente a una estilo cursiva */
  font-size: 2em;
  margin: 0;
  color: black; /* Amarillo */
  animation: bounce 1s infinite alternate; /* Agrega una animación de rebote */
}

/* Define la animación de rebote */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* Posición inicial y final (sin movimiento en el eje Y) */
  }
  40% {
      transform: translateY(-10px); /* Movimiento hacia arriba en el eje Y en el 40% del tiempo */
  }
  60% {
      transform: translateY(-5px); /* Movimiento hacia arriba en el eje Y en el 60% del tiempo */
  }
}
