/* Estilos para el componente Filter */
.Filter {
    background-color: #f5f5f5; /* Color de fondo del Filter */
    padding: 10px; /* Espaciado interno del Filter */
    border-radius: 5px; /* Borde redondeado */
    margin-bottom: 20px; /* Espaciado inferior del Filter */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }
  
  /* Estilos para el componente ActivitiesList */
  .ActivitiesList {
    background-color: #fff; /* Color de fondo de ActivitiesList */
    padding: 20px; /* Espaciado interno de ActivitiesList */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }
  
  /* Estilos para los botones en Filter (ajusta según tus necesidades) */
  .Filter button {
    background-color: #007bff; /* Color de fondo del botón en Filter */
    color: #fff; /* Color del texto del botón en Filter */
    border: none; /* Elimina el borde del botón en Filter */
    padding: 10px 20px; /* Espaciado interno del botón en Filter */
    border-radius: 5px; /* Borde redondeado del botón en Filter */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón en Filter */
    margin-right: 10px; /* Espaciado a la derecha de los botones en Filter */
    transition: background-color 0.3s ease; /* Transición de color de fondo en Filter */
  }
  
  .Filter button:hover {
    background-color: #0056b3; /* Color de fondo al pasar sobre el botón en Filter */
  }
  
  /* Estilos para los elementos en ActivitiesList (ajusta según tus necesidades) */
  .ActivitiesList p {
    font-size: 16px; /* Tamaño de fuente de los elementos en ActivitiesList */
    margin-bottom: 10px; /* Espaciado inferior de los elementos en ActivitiesList */
  }
  