.Filtro{
  display: flex; /*coloca los elementos en línea*/
  gap: 2rem; /*separa los botones entre ellos*/
  font-size: 15px;
  text-align: center;
  height: 5rem; 
  vertical-align: middle;
}


/* Estilos para el componente Filter */

.cuadro-formulario{
  background-color: white;
  box-shadow: none; /* Sombra */
}
.t-h1{
  background-color: white;
  border: none;
  border-color: white;
  width: fit-content;
  height: fit-content;

}
.Filter {
    background-color: #f5f5f5; /* Color de fondo del Filter */
    padding: 10px; /* Espaciado interno del Filter */
    border-radius: 5px; /* Borde redondeado */
    margin-bottom: 20px; /* Espaciado inferior del Filter */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }
  /* Estilos para los botones en Filter (ajusta según tus necesidades) */
  .Filter button {
    background-color: #000; /* Color de fondo del botón en Filter */
    color: #fff; /* Color del texto del botón en Filter */
    border: none; /* Elimina el borde del botón en Filter */
    padding: 10px 20px; /* Espaciado interno del botón en Filter */
    border-radius: 5px; /* Borde redondeado del botón en Filter */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón en Filter */
    margin-right: 10px; /* Espaciado a la derecha de los botones en Filter */
    transition: background-color 0.3s ease; /* Transición de color de fondo en Filter */
  }
  
  .Filter button:hover {
    color: yellow; /* Color de fondo al pasar sobre el botón en Filter */
  }

  #grupoMuscular{
    font-size: 16px;
  }
  #tipologia{
    font-size: 16px; 
  }
  
  
  /* Estilos para el componente ActivitiesList */
  .ActivitiesList {
    background-color: #fff; /* Color de fondo de ActivitiesList */
    padding: 20px; /* Espaciado interno de ActivitiesList */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }
  
  select{
    /*coloca en columna los select del formulario de subida*/
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: auto;
    height: 37.5px;
    text-align: center;
  }
  
  .totalLikes{
    color: white;
  }

 
 
  
  /* Estilos para los elementos en ActivitiesList (ajusta según tus necesidades) */
  /*.ActivitiesList p {
    font-size: 16px; /* Tamaño de fuente de los elementos en ActivitiesList */
    /*margin-bottom: 10px; /* Espaciado inferior de los elementos en ActivitiesList */
  /*}
  /*.favorite-like .favorite{
    background-color: transparent;
  }*/
 

  

