/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, p, ul, li, form, input, select {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

/* Estilo para el encabezado y la navegación */
header {
    background-color: orange;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo para el formulario de filtro */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[id="buscar"] {
    background-color:blue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilo para la página de inicio */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para los resultados */
.actividad {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.actividad img {
    max-width: 100%;
    height: auto;
}

.actividad h3 {
    font-size: 1.4rem;
    margin-top: 10px;
    color: #007bff;
}

.actividad p {
    margin-top: 10px;
}

/* Estilo para los resultados vacíos */
.sin-resultados {
    text-align: center;
    color: #777;
    font-style: italic;
}
