
.titulo-principal {
    padding: 2rem;
}

.eslogan {
    font-family: 'Arial', sans-serif; /* Tipo de letra */
    color: #000;
    text-justify: inherit;
    line-height: 1.5; 
    position: relative;
    margin-bottom: 15px;
}


.gratuito {
    text-align: center;
    
    color: #FFD700; /* Amarillo */
    position: fixed;
   
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000; /* Fondo negro */
   
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.8); /* Sombra amarilla */
    }


/*Imágenes correspondientes a las tres etiquetas:*/
#label-cuando {
    background-image: url(../imageneshomepublic/cuandoquieras.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    /*es para mantener la imagen fija dentro del fieldset*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
    text-align: right;
    width: auto;
    height: auto;
}

#label-donde {
    background-image: url(../imageneshomepublic/dondequieras.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    /*es para mantener la imagen fija dentro del fieldset*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
    text-align: center;
    width: auto;
    height: auto;
}

#label-como {
    background-image: url(../imageneshomepublic/comoquieras.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    /*es para mantener la imagen fija dentro del fieldset*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
    text-align: left;
    width: auto;
    height: auto;
}


span {
    display: block;
}

/*formato del texto de las tres etiquetas:*/
.text-white {
    color: white;
}

h3 {
    font-weight: bold;
    -webkit-text-stroke: 0.03rem black;
}

.text-white-outliner {
    -webkit-text-stroke: 1px white;
    /*esta propiedad es para poder poner de color el borde de la letra*/
    color: transparent;
}

fieldset {
    border: 2px solid transparent; /* Amarillo */
    padding: 15px;
    border-radius: 10px;
    width: calc(33.3333% - 20px); /* El 20px es la suma de los márgenes horizontales */
    box-sizing: border-box;
}
h4 {
    color: white;
    -webkit-text-stroke: 0.03rem black;

}

p {
    align-content: center;
}
.logo-img{
    width: 1rem;
    height: 1rem;
}
.home-public-blocks {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

/* Asegura que cada bloque dentro de .home-public-blocks ocupe el ancho completo */
.home-public-blocks fieldset {
    width: 100%;
}

@media (max-width: 325px){
    .home-public-blocks{
    display: flex; /*coloca en bloque las cajas*/
    justify-content: space-between; /*separa a la misma distancia las cajas entre si*/
    margin-top: 30px;
}
    .home-public{
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}
 #root{
    width: 100%;
 }   
 fieldset {
    border: 2px solid #FFD700; /* Amarillo */
    padding: 15px;
    border-radius: 10px;
    width: calc(33.3333% - 20px); /* El 20px es la suma de los márgenes horizontales */
    box-sizing: border-box;
}
}