.titulo-principal{
    padding: 2rem;
}
.eslogan{
    color: #000;
}
.gratuito{
    color:#FFDE59;
}
/*Imágenes correspondientes a las tres etiquetas:*/
#label-cuando{
background-image: url(../imageneshomepublic/cuandoquieras.png);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: contain;
background-repeat: no-repeat;
margin: 1rem;
}
#label-donde{
    background-image: url(../imageneshomepublic/dondequieras.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
}
#label-como{
        background-image: url(../imageneshomepublic/comoquieras.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 1rem;
}
span{
    display: block;
}
/*formato del texto de las tres etiquetas:*/
.text-white{
    color: #000;
}
h3{
    font-weight: bold;
}
.text-white-outliner{
    -webkit-text-stroke: 1px #000;
    color: transparent;
}
fieldset{
    border-radius: 0.5rem;
    padding:  1rem;

    margin: 1rem;

    margin: 0.5rem;

    height: 7.5 rem;
    width: 400px;
    flex-flow: wrap;
    justify-content: flex-end;
}