.titulo-principal {
    padding: 2rem;
}

.eslogan {
    color: #000;
    text-justify: inherit;
}

.gratuito {
    color: #FFDE59;

    text-shadow: 0 0 30px #FFDE59;
    padding: 0.5rem;
    margin: 0.5rem;

    text-shadow: 0 0 30 px #FFDE59;
    padding: 0.05rem;
    margin: 0.05rem;
}

/*Imágenes correspondientes a las tres etiquetas:*/
#label-cuando {
    background-image: url(../imageneshomepublic/cuandoquieras.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    /*es para mantener la imagen fija dentro del fieldset*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
    text-align: right;
    width: auto;
    height: auto;
}

#label-donde {
    background-image: url(../imageneshomepublic/dondequieras.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    /*es para mantener la imagen fija dentro del fieldset*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
    text-align: center;
    width: auto;
    height: auto;
}

#label-como {
    background-image: url(../imageneshomepublic/comoquieras.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    /*es para mantener la imagen fija dentro del fieldset*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
    text-align: left;
    width: auto;
    height: auto;
}


span {
    display: block;
}

/*formato del texto de las tres etiquetas:*/
.text-white {
    color: white;
}

h3 {
    font-weight: bold;
    -webkit-text-stroke: 0.03rem black;
}

.text-white-outliner {
    -webkit-text-stroke: 1px white;
    /*esta propiedad es para poder poner de color el borde de la letra*/
    color: transparent;
}

fieldset {
    border-radius: 0.5rem;
    /*padding: 1rem;*/
    margin: 1rem;

    height: 7.5rem;
    width: 400px;
    flex-flow: wrap;
    justify-content: flex-end;
    align-content: center;
    /*display: inline; descoloca la última caja del formulario*/
    /*coloca los bloques de la imágenes centrado*/

}

h4 {
    color: white;
    -webkit-text-stroke: 0.03rem black;

}

p {
    align-content: center;
}
.logo-img{
    width: 1rem;
    height: 1rem;
}
.home-public-blocks{
    display: flex; /*coloca las cajas en línea*/
justify-content: space-between; /*separa a la misma distancia las cajas entre si*/
background-color: white;
}

@media (max-width: 325px){
    .home-public-blocks{
    display: block; /*coloca en bloque las cajas*/
    justify-content: space-between; /*separa a la misma distancia las cajas entre si*/
}
    .home-public{
    box-sizing: content-box;
}
 #root{
    width: 100%;
 }   
 fieldset {
width: 100%;
height: 100%;
}
}