h1{
  font-family: 'Arial', sans-serif; /* Tipo de letra */
    color: #333; /* Color de texto oscuro */
    text-align: center; /* Centra el texto */
    background-color: transparent; /* Fondo amarillo */
    padding: 20px; /* Añade espacio alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}
/* Estilos para el contenedor principal */
section#login  {
  width: 439.09px; /* Ancho de 400 píxeles */
  height: 518.72px; /* Altura de 400 píxeles */
    text-align: center;
    margin: 0 auto; /* Centrar el formulario horizontalmente */
    padding: 900px; /* Espaciado interno del formulario */
    background-color: #f5f5f5; /* Color de fondo */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
  }
  
 

  /* Estilos para el formulario */
   form#login {
   
    height: 439px;
    width: 100%; /* Ancho del 100% del contenedor */
    padding: 10px; /* Espaciado interno del formulario */
    background-color: #fff; /* Color de fondo */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  fieldset{
    margin-bottom: 3px;
    width: 100%;
    line-height: 1.5;
  }

  /* Estilos para los campos de entrada y etiquetas */
  label {
    display: block; /* Muestra cada etiqueta en una línea separada */
    margin-bottom: 10px; /* Espaciado inferior entre etiquetas */
    font-weight: bold; /* Texto en negrita para etiquetas */
    
  }
  
  
input#password{
  width: 100%;
}

  /* Estilos para el botón de inicio de sesión */
  button {
    background-color: #000; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Borde redondeado del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición de color de fondo */
    /*width: 100%; /* Ocupa el ancho completo del formulario */
  }
  
  button:hover {
    color: yellow; /* Color de fondo al pasar sobre el botón */
  }
  
  /* Estilos para el mensaje de error */
  p {
     /* Color rojo para el mensaje de error */
    font-weight: bold; /* Texto en negrita para el mensaje de error */
    margin-top: 10px; /* Espaciado superior del mensaje de error */
  }
  