
  /* Estilos para el contenedor principal */
div {
  text-align: center;
  margin: 0 auto; /* Centrar el formulario horizontalmente */
  padding: 20px; /* Espaciado interno del formulario */
  background-color: #f5f5f5; /* Color de fondo */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para los campos de entrada y etiquetas */
label {
  display: block; /* Muestra cada etiqueta en una línea separada */
  margin-bottom: 10px; /* Espaciado inferior entre etiquetas */
  font-weight: bold; /* Texto en negrita para etiquetas */
}

/* Estilos para el botón de registro */
button {
  background-color: #000; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Elimina el borde del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  border-radius: 5px; /* Borde redondeado del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición de color de fondo */
  /*width: 100%; (lo omito porque quiero que ocupe el tamaño del botón) ocupa el ancho completo del formulario */
}

/*button:hover {
  color: yellow; /* Color de fondo al pasar sobre el botón */
/*}/*

/* Estilos para el mensaje de error */
p {
  color: #ff0000; /* Color rojo para el mensaje de error */
  font-weight: bold; /* Texto en negrita para el mensaje de error */
  margin-top: 10px; /* Espaciado superior del mensaje de error */
  
}
