html {
  width: 100%;
  height: 100%;
}

* {
  
  box-sizing: border-box;
}
#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


ul{
  margin: 0;
  padding: 0;
  list-style: none;
}



main{
  height: calc(100%-10rem);
}

/* formato de los links*/
a{
  color:#000;
  text-decoration: none;
  padding: 0.5rem;
  display: flex;

  

  text-align: center;
  vertical-align: middle;

}



.footer-main{
  display: inline;
  background-color: #332f2c;
  font-style: normal;
  
  padding: 2rem;
  width: 100%;
}
footer{
  color: white;
}

