* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
}
header{
 height: 5rem;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 0.5rem;
}
ul li a:hover{
color: #000;
}


main{
  height: calc(100%-10rem);
}

a{
  color:#000
}
footer{
  background: grey;
  color: white;
  height: 5 rem;
}
