* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
 
  display: flex;
  flex-direction: column;
  /*align-items: center; bloqueo para qur en response me centre la section que contiene las 3 cajas*/
  justify-content: center;
  position: relative;
  background-color: white;
  width: 100%;
}
header{
height: 5rem;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li{
  display:inline-flex; /*hace que se pongan los elementos de la lista en línea*/
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 0.5rem;
}
ul li a:hover{
color: #000;
}


main{
  height: calc(100%-10rem);
}
/* formato de los links*/
a{
  color:#000;
  text-decoration: none;
  padding: 0.5rem;
  display: flex;

  

  text-align: center;
  vertical-align: middle;

}

/*formato al link de Registro*/
.link-r{
  background-color: yellow;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.link-l{
  background-color: white;
  border-color: 0.1 0.1 black;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.footer-main{
  display: inline;
  background-color: #332f2c;
  font-style: normal;
  
  padding: 2rem;
  width: 100%;
}
footer{
  color: white;
}

