* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
}


ul{
  margin: 0;
  padding: 0;
  list-style: none;
}



main{
  height: calc(100%-10rem);
}


.footer-main{
  display: inline;
  background-color: #332f2c;
  font-style: normal;
  
  padding: 2rem;
  width: 100vh;
}
footer{
  color: white;
}

